.abstract-section {
    position: relative;
    max-height: 450px;
    text-align: justify; /* Menyelaraskan teks ke tengah */

  }
  .abstract-title {
    position: sticky;
    top: 0;
    background: white; /* Background color to cover the content when scrolling */
    z-index: 1; /* Ensure title is above the scrolling content */
    padding: 0.5rem;
  }
  .abstract-content {
    
    height:400px;
    overflow: auto;
    
  }
  .abstract-content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .abstract-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Untuk tampilan mobile */
@media (max-width: 767px) {
  .abstract-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
 
  .popupDataPaper .bg-white {
    width: 90%;
    height: 80%;
    position: relative;
  }



  .popupDataPaper .abstract-content {
   height: 260px;
  }
  .btn{
    height: 7vh;
    font-size: 0.7rem;
    width: 100%;
  }
  .title{
    font-size: 1rem;
    
  }
  .class-button{
    position: absolute;
  bottom: 0;
  width: 90%; /* Pastikan tombol menempati lebar penuh */
  display: flex;
  justify-content: center; /* Pusatkan tombol secara horizontal */
  margin-bottom: 1.5vh;
  }
}